html {
    height: 100%;
    width: 100%;
}

body {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
}

.divider {
    margin-top: 4%; 
}

.h3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.h4 {
    margin-bottom: 8%;
}

input {
    margin-bottom: 4%;
}

.event_det_list {
    text-align: left;
}

.link {
    text-decoration: underline !important;
    color: #007bff !important;
}

.d-row {
    width: 100%;
}

#event_det_list_right {
    float: right;
}

#event_det_list_left {
    float: left;
}

.my_alert {
    width: 80%;
    margin-left: 10%;
}

.long-btn {
    width: 80%;
    margin-bottom: 3%;
}

.back_btn {
    margin-top: 6%;
}

.update-button {
    width: 39%; 
}

#showcase {
    margin-top: 2%;
    float: right;
    width: 19%;
    border: solid lightgray 2px;
    background-color: none !important;
    border-radius: 0%;
    padding: 1%;
}

.event-show, .announcement-show {
    padding: 1%;
    background-color: lightblue !important;
}

.event_list :first-child {
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event_list :last-child{
    float: right;
}

/*DATEPICKER & FORM*/

.datepicker {
    width: 78%;
}

.form-control {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.center-std-element {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.event_detail {
    text-align: left;
    margin-left: 10%;
}