html {
    height: 100%;
    width: 100%;
}

body {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    text-align: center;
}

.divider {
    margin-top: 4%; 
}

.h3 {
    margin-top: 4%;
    margin-bottom: 3%;
}

.h4 {
    margin-bottom: 8%;
}

input {
    margin-bottom: 4%;
}

.long-btn {
    width: 80%;
    margin-bottom: 3%;
}

.back_btn {
    margin-top: 6%;
}

.update-button {
    width: 39%; 
}

#showcase {
    margin-top: 2%;
    float: right;
    width: 19%;
    border: solid lightgray 2px;
    background-color: none !important;
    border-radius: 0%;
    padding: 1%;
}

.event-show {
    padding: 1%;
    background-color: lightblue !important;
}

/*DATEPICKER & FORM*/

.datepicker {
    width: 78%;
}

.form-control {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.center-std-element {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.event_detail {
    text-align: left;
    margin-left: 10%;
}